.Header {
    font-family: "Roboto",serif;
    text-align: center;
}

a {
    all: unset;
}

.tab-header {
    margin-left: 25%;
    width: 50%;
}

.tab-component {
    text-align: center;
    width: 30%;
    display: inline-block;
    font-family: "Roboto",serif;
}

.MultipleTodos {
    text-align: center;
}

.TodoForm {
    margin-left: 25%;
}

.input-details {
    width: 60%;
    height: 30px;
    border-radius: 10px;
}

.input-button {
    background: #2F80ED;
    border-radius: 12px;
    height: 35px;
    width: 75px;
    color: white;
}

.delete-all-button {
    background: #EB5757;
    border-radius: 12px;
    height: 35px;
    width: 90px;
    color: white;
    margin-left: 67%;
}

#all-content {
    text-align: left;
    margin-left: 25%;
}

#active-content {
    text-align: left;
    margin-left: 25%;
}

#completed-content {
    text-align: left;
    margin-left: 25%;
}
#Todo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px 35% 10px 10px;
}

#Todo > input {
    margin-right: 10px;
}

#Todo > label {
    font-family: "Roboto",serif;
}