.App {
  height: 96vh;
}

.content-container {
  text-align: left;
  width: 100%;
  height: 100%;
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row;

  /* Then we define how is distributed the remaining space */
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: stretch;
}

.topbar {
  width: 100%;
  background: #DB4C3E;
  height: 4vh;
}

.sidebar {
  background: #FAFAFA;
  width: 30%;
  height: 100%;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  resize: horizontal;
}

.content {
  background: white;
  /*padding: 5px;*/
  width: 90%;
  height: 100%;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
}

.bottom-bar {
  background: blueviolet;
  height: 4vh;
}
